{% extends "../layout.html" %}
{% block content %}

    <div class="content-section">
      <p>To ensure the templates are up to date or suitable for your environment, please consult with a CompuNet Engineer before deploying.</p>
        <hr>
        <h1 id="lb-sandwich-2-palo-alto-vm-s">UVU LB Sandwich - 2 Palo Alto VM&#39;s</h1>
        <p>Deploys 2 PA VM&#39;s in a &#39;Load Balancer Sandwich&#39;. Builds everything needed to POC a working Azure-PA environment. Bootstraps a PA configuration allowing external access through the LB and PA&#39;s to a (automatically built) Web-VM running default apache on port 80. Update the PA address object with the Public IP&#39; Azure hands out for the External LB. A 2nd DB-VM is built for testing east/west as well.</p>
        <p><a href="../../static/uvu.json", target="_blank"><img src="https://aka.ms/deploytoazurebutton" alt="Deploy to Azure"></a></p>
        <hr>
        <hr>

    </div>

{% endblock content %}