{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
      <p>
      Thanks for coming!
      </p>
      <p>
      This is the landing page for some of our Compunet Scripting Tools. <b>We are not web developers, please excuse the ugliness.</b>
      </p>
      <p>
        For now, this page is focused around Azure deployments. More will be added in the future.
      </p>
      <p>
        Many other tools already exist, however most require local access to the network in order to make changes.
      </p>
      <p>
        Please check <a href="https://github.com/compunet-biz">github.com/compunet-biz</a>, <a href="https://github.com/glspi">Ryan's github</a>, and ask your local SE about other tools that may be of use.
      </p>
    </div>

{% endblock content %}